// Colors
$btn-color          : #87b672;
$headers-color      : #666262;
$font-active-color  : #87b672;
$font-color         : #9b9999;
$font-white         : #ffffff;
$bg-light           : #efefef;

// Fonts
$helvetica          : HelveticaNeue, sans-serif;
$nove               : Novecentosanswide-DemiBold, sans-serif;
$pacifico           : Pacifico, cursive;